<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="site-body">
    <%- include('../partials/header') %>

    <main class="site-main">
      <div class="container">
        <%- body %>
      </div>
    </main>

    <%- include('../partials/footer') %>

    <script src="/js/main.js"></script>
  </body>
</html>
